apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: heart-disease-predictor

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/name: heart-disease-predictor
  app.kubernetes.io/version: "1.0.0"
  app.kubernetes.io/managed-by: kustomize

